@import 'var';
@import 'global';
/*Parallax*/
.parallax{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    .image-txt{
        &:nth-child(1){
            grid-column: 4/6;
            grid-row: 4/8;
            pointer-events: all !important;
            text-align: center;
            img{
                padding-bottom: 7%
            }
            a{
                @extend %btnCookies;
                text-align: center;
            }
        }
        &:nth-child(2){
            grid-column: 1/3;
            grid-row: 5/8;
        }
        &:nth-child(3){
            grid-column: 6/8;
            grid-row: 6;
        }
        &:nth-child(4){
            grid-column: 5/7;
            grid-row: 1/4;
        }
        &:nth-child(5){
            grid-column: 2;
            grid-row: 2;
            width: 10%;
        }
        &:nth-child(6){
            grid-column: 7;
            grid-row: 3;
            width: 40%;
        }
    }
}

/*accueil*//*accueil*//*accueil*/
.home{
    height: 200vh;
    .container-home{
        position: relative;
        height: 100vh;
    .element-absolute{
        position: absolute;
        width: 22%;
    }
    .element-absolute img{
        opacity: 0;
    }
    .container-center{
       @extend %centerObs;
        width: 100%;
        height: 40vw;
    }
    .txt{
        width: 45%;
        color: #525252;
        opacity: 0;
        font-size: 6.8vw;
        margin: auto;
        height: 100%;
       span {
        &:nth-child(3){
            z-index: -1;
            padding-left: 8%;
        }
       }
    }
    .element-absolute:nth-child(2){
        left: 15%;
        bottom: 5%;
        transform: rotate(8deg)
    }
    .element-absolute:nth-child(1){
        top: 8%;
        left: 63%;
        transform: rotate(-8deg)
    }
    .scroll-down{
        position: absolute;
        bottom: 5%;
        left: 50%;
        text-align: center;
        font-size: 20px;
        transform: translateX(-50%);
        opacity: 0;
    }
}
}
/*ScaleImg*//*ScaleImg*//*ScaleImg*/
.img-scale {
    height: 100vh;
    padding: 0;
    .image-scale {
        width: 40%;
        height: 50vh;
        margin: auto;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
/*InfoMuseum*//*InfoMuseum*//*InfoMuseum*/
.info-museum {
    position: relative;
    &::after {
        @extend %After;
        height: 100%;
        width: 40%;
        background-color: $colorYellow
    }
    .txt {
        padding: $espaceSection 0;
        width: 80%;
        margin: auto;
        h2 {
            font-size: 6vw;
            width: 55%;
            @extend %flexTitle;
        }
        p {
            width: 60%;
            margin: 7% auto 0;
        }
    }
}
/*ListImg*//*ListImg*//*ListImg*/
.list-img{
    position: relative;
    padding: $espaceSection 0;
    &::after{
        @extend %After;
        background-color: rgb(250, 250, 250);
        height: 60%;
        width: 60%;
        left: 40%;
    }
.list-img-anim{
    margin: 5% 0 5% -10%;
.image{
    width: 25%;
    margin: 0 20px;
    flex-shrink: 0;
}
}
}
.bg-fixed{
    height: 100vh;
    .bg-transi{
        height: 0;
    }
}
/*Exposition*//*Exposition*//*Exposition*/
.section-exposition{
    position: relative;
    padding: $espaceSection 0 5% 0;
    &::after{
        @extend %After;
        height: 70%;
        width: 100%;
        background-color: $colorBlue;
    }
        .txt-expo{
            position: absolute;
            top: 7vw;
            left: 5vw;
        h3{
            font-size: 3.5vw;
            color: white;
            margin-bottom: 5%;
        }
        p{
            width: 23vw;
            color: white;
        }
    }
    .image {
       background-image: url(../img/parallax_img.webp);
        background-size: cover;
        height: 75vh;
        width: 68%;
        margin-left: auto;
        background-attachment: fixed;
    }
}
/*currentExposition*//*currentExposition*//*currentExposition*/
.bg-gray, .bg-transi{
    background-color:#525252;
    transition: background-color 0.5s;
}
    .container-expo{
        position: relative;
        flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    &:nth-child(1){
        &::after{
            @extend %After;
            top: 60%;
            height: 40vh;
            width: 30%;
            background-color: $colorYellow;
         }
        }
    &:nth-child(even) .container-img{
        bottom: 7%;
    }
    &:nth-child(odd) .container-img{
        top: 15%;
    }
    .container-img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 27%;
        margin: auto;
        h3{
            position: absolute;
            top: -8%;
            right: -40%;
            font-size: 5vw;
            white-space: nowrap;
            text-align: right;
            z-index: 100;
            color: white;
        }
        .arrowExpo{
            position: absolute;
            left: -10vw;
            top: 30%;
            img{
                width: 7vw;
            }
        }
        .image{
            overflow: hidden;
            height: 100%;
            &:hover img{
                transform: scale(1.2);
            }
        img{
            transition: transform 0.7s;
        }
    }
    .date{
        color: white;
        margin-top: 15px;
    }
    }
    .bg-title{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(121, 121, 121, 0.158);
        font-size: 25em;
        z-index: -1;
        pointer-events: none;
    }
    h2{
        margin:auto;
        font-size: 6vw;
            width: 50vw;
            color: white;
       @extend %centerFlex;
          .span-exposition{
              i{
                  margin-left: 30px;
              }
    } 
} 
}
/*Page detail*//*Page detail*//*Page detail*/
.intro{
    position: relative;
    &::after{
        @extend %After;
        height: 100%;
        width: 35%;
        background-color: var(--color);
    }
    .container-container{
        @extend %centerFlex;
    .left{
        .image{
            width: 32vw;
            margin: auto;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
        .right{
            h1{
                text-align: center;
                font-size: 5.5vw;
                @extend %flexTitle;
                .span-expo {
                    &:nth-child(1) {
                        padding-left: 10%;
                    }
                }
            }
            p{
                text-align: center;
                i{
                    font-size: 30px;
                    margin-top: 10px;
                }
            }
        }
}
}
.container-txt{
    margin: 12% auto;
    .info{
        margin-bottom: 10px;
    }
    .txt-detail{
        border-top: 1px solid rgba(0, 0, 0, 0.37);
        padding: 8% 0;
        h2{
            font-size: 4vw;
        }
    }
}
    .container-grid{
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(10, 1fr);
        .Txt_img{
            position: relative;
            &:nth-child(1){
                grid-column: 1/5;
                grid-row: 1/4;
            }
            &:nth-child(2){
                grid-column: 9/15;
                grid-row: 3/6;
            }
            &:nth-child(3){
                margin-top: auto;
                grid-column: 2/7;
                grid-row: 5;
                font-size: 1.08vw;
            }
            &:nth-child(4){
                grid-column: 7/15;
                grid-row: 7/10;
            }
            &:nth-child(5){
                grid-column: 9/15;
                grid-row: 10;
                margin-top: auto;
                font-size: 1.08vw;
            }
            &:nth-child(6){
                grid-column: 2/8;
                grid-row: 9/11;
            }
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .autre-Event {
        margin: 15% 0;
        h3{
            text-align: center;
            font-size: 2vw;
            a{
                border: 1px solid #525252;
                border-radius: 50px;
                padding: 5px 20px;
                &:hover{
                    color: white;
                    background-color: #525252;
                    border: none
                }
            }
        }
}
/*Ticket*/
.carre1,.carre2,.carre3,.carre4{
    @extend %centerFlex;
}
.ticket{
    .row, .ticket-left{
        height: 100%;
.ticket-left{
    .carre1{
        background-color: $colorTitle;
            text-align: center;
            height: 30%;
        .txt{
        h2{
            color: white;
            line-height: 1.1;
        }
        }
    }
    .flex-bloc{
        height: 70%;
    .carre2{
        height: 50%;
            background-color: $colorBlue;
            h3, p{
                color: white;
            }
    }
    .carre3{
        background-color: $colorYellow;
        height: 50%;
    }
    .carre4{
        background-color: #E2E2E2;
    }
}
}
.ticket-right{
    @extend %centerFlex;
    background-color: $colorBlue;
    position: relative;
    height: 100vh;
form{
    width: 65%;
    margin: auto;
    padding: 35px 0;
    display: none;
label{
    margin: 40px 0 10px 0;
    color: white;
}
    input{
        width: 100%;
        outline: none;
        display: block;
        border: none;
        border-bottom: 0.5px solid white;
        background-color: transparent;
}
.erreur{
    margin-top: 15px;
    color: $colorYellow;
}
.container-btn{
    padding: 0;
    margin-top: 10%;
    .reset{
        border: 1px solid white;
        color: white;
        border-radius: 20px;
        padding: 2px 13px;
        &:hover{
            background-color: white;
            color: black;
        }
    }
    .go{
        margin-left: 20px;
        background-color: white;
        color: black;
        border: 1px solid white;
        border-radius: 20px;
        padding: 2px 13px;
    }
}
}
.cta{
   @extend %centerObs;
   @extend %btnCookies;
   background-color: transparent;
   color: white;
   border: 1px solid white;
   font-size: 20px;
}
}
}
}
/* contact*/
.contact{
.image-bg{
    padding: 122px 0 0 0;
    height: 100vh;
    img{
        height: 100%;
        object-fit: cover;
    }
}
.container-contact{
    padding: 122px 0 0 0;
    .container-flex{
        height: 100%;
        border-top: 0.5px solid rgba(0, 0, 0, 0.200);
    .txt_contact{
        @extend %centerFlex;
        height: auto;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.200);
        border-right: 0.5px solid rgba(0, 0, 0, 0.200);
        &:last-child{
            border-bottom: none;
        }
    }
    }
}
.mail{
    height: 20%;
    @extend %centerFlex;
    a{
        font-size: 3.5vw;
        text-transform: uppercase;
        font-family: 'Circular Std';
        color: $colorBlue;
        text-decoration: underline;
    }
}
}
/* responsive *//* responsive *//* responsive */
@media screen and (max-width : 1200px){
    .cursor{
        visibility: hidden;
    }
        .section-exposition .txt-expo {
            position: initial;
            padding: 0;
            width: 90%;
            margin: 0 auto 5% auto;
            p{
                width: 100%;
            }
        }
        .section-exposition .image {
            background-position: 70%;
            height: 70vh;
            width: 90%;
            margin: auto;
        }
        .container-expo:nth-child(odd) .container-img {
            top: 21%;
        }
        p{
            font-size: 1.8vw;
        }
        .info-museum .txt p {
            width: 100%;
        }
        .carre .txt p{
            font-size: 15px;
        }
    }
@media screen and (max-width : 992px){
    .container-expo h2 {
        font-size: 7vw;
        width: 60vw
}
.parallax .image-txt:nth-child(4){
    grid-row: 2/4;
}
.home{
    .container-home .element-absolute{
    width: 30%;
}
   .container-home .element-absolute:nth-child(2){
    left: 5%;
}
   .container-home .element-absolute:nth-child(3){
    font-size: 8vw;
}
}
nav ul{
    background-color: #f1f1f1;
    li{
        margin: 10px 0;
    }
}
.ticket {
.row{
    height: 50%;
}
}
.event{
    margin: 15% auto 0 auto;
    .list-img .list-img-anim .image {
        width: 45%;
    }
}
.container-expo .container-img, .intro .container-container .event .left .image {
    width: 45%
}
.intro .container-container .event .left .image {
    width: 50vw
}
.main-expo, .ticket .row .ticket-right form, .info-museum .txt{
    width: 90%;
    margin: auto;
}
main .container-grid, .ticket .row .ticket-left{
    display: block;
    .Txt_img{
        margin-bottom: 10%;
    }
}
.intro .container-container .event .right{
    width: 60vw;
    margin:7% auto 0 auto;
    padding: 0;
    h1{
        font-size: 9vw;
        margin-bottom: 50px;
    }
}
.carre .txt{
    padding: 10% 0;
}
.intro{
    &::after{
        width: 100%;
        height: 40%;
    }
}
main .autre-Event h3 {
    font-size: 3.5vw;
}
.contact, .ticket{
height: auto;
.image-bg{
    height: 50vh;
}
.container-contact{
    height: 50%;
    padding: 0;
}
.txt_contact{
    padding: 50px 0;
}
}
footer .Rsociaux li {
    margin: 10px 5px;
    white-space: nowrap;
}
.container-txt .txt-detail h2 {
    font-size: 5.5vw;
    margin-bottom: 30px;
}
.info-museum .txt h2 {
    margin: auto;
    font-size: 8vw
}
}
@media screen and (max-width : 768px){
.navbar-brand{
    width: 30%;
}
.section-exposition .txt-expo h3 {
    font-size: 4.5vw;
}
.container-expo .container-img .arrowExpo img{
        width: 10vw;
}
.parallax .image-txt:nth-child(1) {
    grid-column: 4/7;
}
.info-museum .txt, .list-img{
    padding: 20% 0 !important;
}
p{
    font-size: 18px;
}
.container-expo {
    h2{
        font-size: 8vw;
    }
    .container-img h3{
        font-size: 7.5vw;
    }
}
.container-form{
    width: 90%;
}
.span-expo{
    &:nth-child(1){
        padding-left: 0 !important;
    }
}
span{
    line-height: 1.1;
}
   .contact .txt_contact{
        padding: 50px 0;
    }
}
@media screen and (max-width : 576px){
    .info-museum .txt h2{
    width: 75%;
    font-size: 9vw;
    }
    .parallax{
        .image-txt:nth-child(1) {
            grid-column: 3/8;
        }
        .image-txt:nth-child(2) {
            grid-column: 1/3;
            grid-row: 6/8;
        }
    .image-txt:nth-child(4) {
        grid-column: 3/6;
    }
    .image-txt:nth-child(3) {
        grid-column: 5/8;
    }
    }
    footer .Rsociaux li a {
        font-size: 12px;
    }
    .carre .txt{
        padding: 20% 0;
    }
    .section-exposition .image {
        height: 40vh;
    }
    .list-img .list-img-anim .image {
        width: 45%;
    }
    p{
        font-size: 13px;
    }
    .container-expo{
    &:nth-child(odd) .container-img{
        top: 15%;
    }
}
.container-expo .container-img .date{
    font-size: 13px;
}
.container-txt .txt-detail h2 {
    font-size: 7vw;
    margin-bottom: 30px;
}
.home .container-home .txt {
    font-size: 8vw;
}
.contact .mail a{
    font-size: 5vw;
}
}