.intro{
    position: relative;
    &::after{
        @include After(0, 0);
        height: 100%;
        width: 35%;
        background-color: var(--color);
    }
    .container-container{
        @extend %centerFlex;
    .left{
        .image{
            width: 32vw;
            margin: auto;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
        .right{
            h1{
                text-align: center;
                font-size: 5.5vw;
                @extend %flexTitle;
                .span-expo {
                    &:nth-child(1) {
                        padding-left: 10%;
                    }
                }
            }
            p{
                text-align: center;
                i{
                    font-size: 30px;
                    margin-top: 10px;
                }
            }
        }
}
}
.container-txt{
    margin: 12% auto;
    .info{
        margin-bottom: 10px;
    }
    .txt-detail{
        border-top: 1px solid rgba(0, 0, 0, 0.37);
        padding: 8% 0;
        h2{
            font-size: 4vw;
        }
    }
}
    .container-grid{
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(10, 1fr);
        .Txt_img{
            position: relative;
            &:nth-child(1){
                grid-column: 1/5;
                grid-row: 1/4;
            }
            &:nth-child(2){
                grid-column: 9/15;
                grid-row: 3/6;
            }
            &:nth-child(3){
                margin-top: auto;
                grid-column: 2/7;
                grid-row: 5;
                font-size: 1.08vw;
            }
            &:nth-child(4){
                grid-column: 7/15;
                grid-row: 7/10;
            }
            &:nth-child(5){
                grid-column: 9/15;
                grid-row: 10;
                margin-top: auto;
                font-size: 1.08vw;
            }
            &:nth-child(6){
                grid-column: 2/8;
                grid-row: 9/11;
            }
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .autre-Event {
        margin: 15% 0;
        h3{
            text-align: center;
            font-size: 2vw;
            a{
                border: 1px solid #525252;
                border-radius: 50px;
                padding: 5px 20px;
                &:hover{
                    color: white;
                    background-color: #525252;
                    border: none
                }
            }
        }
}