
@mixin centerObs($top, $left, $x, $y){
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($x,$y);
  }
%centerFlex{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}
%flexTitle{
    display: flex;
    flex-direction: column;
}
@mixin After ($top, $left){
  content: '';
  position: absolute;
  top: $top;
  left: $left;
  z-index: -1;
}

%cursor{
  position: fixed;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  background-color: white;
    pointer-events: none;
    mix-blend-mode: difference;
}
%btn{
  border: 1px solid #525252;
  border-radius: 20px;
  padding: 3px 10px;
  &:hover{
      color: white;
      background-color: #525252;
      border: 1px solid #525252
  }
}
%hoverLien{
  &::after{
    @include After(0, 0);
    top: 100%;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    background-color: $colorMenu;
    transition: transform 0.5s;
    z-index: 10;
}
&:hover, &.active{
    color: $colorMenu;
    &::after{
        transform: scaleX(1);
        transform-origin: left;
    }
}
&.active{
    color: $colorMenu
}
}